* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  
  .scoreboard {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  
  .scoreboard p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .scoreboard #player-score,
  .scoreboard #tie-score,
  .scoreboard #computer-score {
    font-size: 30px;
    font-weight: bold;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .choices {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  button {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #e6e6e6;
  }
  
  button.rock {
    background-color: #b30000;
    color: #fff;
  }
  
  button.paper {
    background-color: #0066cc;
    color: #fff;
  }
  
  button.scissors {
    background-color: #006600;
    color: #fff;
  }
  
  .results {
    display: none;
    margin-top: 20px;
  }

  .results-show {
    display: block;
    margin-top: 20px;
  }
  
  #result {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .reset {
    font-size: 20px;
    padding: 10px 20px;
  }
/* 
  .video-active {
    display: block; 
  }
   */